    <footer style="position: fixed;bottom: 0;height: 30px;padding-top: 2px;"><!-- 底部 -->
        <p style="display:inline;margin-left: 20px;">© 2021 Copyright ZHH</p>
        <!-- 显示当前时间 -->
        <div id="time" style="display:inline;float: right;margin-right: 20px;"></div>
        <!-- 显示当前时间 -->
    </footer>
</body>
</html>