<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDY!--错误</title>

    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/jumpIndex.js"></script>
    <link rel="stylesheet" type="text/css" href="css/error.css">
</head>
<body>
    <div class="container" style="margin-top:200px;margin-bottom:200px;position: absolute;width: 720px;left: 0;right: 0;"><!-- 主内容 -->
        <div class="row">
            <div class="col-md-8 offset-md-2 owndiv" style="padding: 20px;">
                <h1>正在登出</h1>
                <span id="show">5秒后跳转到首页</span>
            </div>
        </div>
    </div>

    <%- include('footer') -%>