<%- include('header') -%>
<div class="container-fluid"><!-- 内容 -->
    <div class="row" style="padding: 100px; margin-top:140px;">
        <div class="col-md-4 offset-md-4" style="text-align: center;height: 100%; border:2 solid red;"><!-- 侧边导航 -->
            <nav class="navbar bg-light content rounded">
                <ul class="navbar-nav nav-pills" style="padding-left: 180px;">
                    <li class="nav-item">
                        <br>
                        <a class="nav-link" href="pyqt5/1">PyQt5基础知识</a>
                    </li>
                    <li class="nav-item">
                        <br>
                        <a class="nav-link" href="pyqt5/2">搭建PyQt5开发环境</a>
                    </li>
                    <li class="nav-item">
                        <br>
                        <a class="nav-link" href="pyqt5/3">开发第一个桌面应用</a>
                        <br>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<%- include('footer') -%>